@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Source Sans Pro' sans-serif;
}


/* --------
Typography
----------- */


/*-------------
 Menu
------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h1 {
    font-size: 40px;
    font-weight: 200;
    line-height: 50px;
    margin-top: 0;
}

h2 {
    font-size: 30px;
    margin-top: 0;
    line-height: 40px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
}

h4 {
    color: #505050;
    font-size: 18px;
    line-height: 28px;
}

p {
    color: #757575;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.5px;
}


/*-------------
 Button
------- */

.section-btn {
    margin: 32px 0 0 0;
    padding: 0;
}

.section-btn a {
    color: #ffffff;
    font-weight: normal;
    line-height: 45px;
    perspective: 1000px;
}

.section-btn a span {
    position: absolute;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.5px;
    padding: 2px 27px;
    background: #4dc47d;
    transition: transforms 0.1s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    border-radius: 1px;
}

.section-btn a span::before {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    background: #000;
    padding: 2px 27px;
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
    border-radius: 1px;
    content: attr(data-hover);
}

.section-btn a:hover span,
.section-btn a:focus span {
    transform: rotateX(90deg) translateY(-22px);
}


/*-----------
 Genarel
 -------------- */

#about,
#project,
#teem,
#contact,
footer {
    background: #ffffff;
}


/* -------------------------
             Menu
-------------------------- */

.navbar .navbar-brand {
    font-weight: normal;
    font-size: 25px;
    color: #ffffff;
}

.navbar .navbar-nav .nav-link {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.04s;
    color: #ffffff;
}

.navbar .navbar-nav .nav-link :hover {
    background: transparent;
    color: #ffffff;
}

.navbar .navbar-nav .nav-link ::after {
    content: ;
    display: block;
    width: 0;
    height: 2px;
    background: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.navbar .navbar-nav .nav-link :hover ::after {
    width: 100%;
    background: #ffffff;
    color: #ffffff;
}


/* -------------------------
             Home
-------------------------- */

#Home {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
}

#Home video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    object-fit: cover;
    box-sizing: border-box;
    overflow: hidden;
    z-index: -100;
    transition: 1s opacity;
}

#Home .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
}

#Home h1 {
    color: #ffffff;
    font-size: 7vw;
    line-height: 1.2em;
}

#Home p {
    color: rgba(250, 250, 250, 0.7);
}

#Home .home-tex {
    z-index: 99;
}


/* -------------------------
             About
-------------------------- */

#about {
    position: relative;
}

#about h3 {
    font-size: 14px;
    letter-spacing: 12px;
    text-transform: uppercase;
}


/* -------------------------
             Project
-------------------------- */

.project .project-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

.project .project-item .project-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all ease-in-out 0.4s;
}

.project-item img {
    transition: all ease-in-out 0.4s;
}

.project-item:hover img {
    transform: scale(0.1);
}


/* -------------------------
             Team
-------------------------- */


/* -------------------------
             conract
-------------------------- */

#contact {
    background: url(./img/contact-bg.jpg) 50% repeat-y fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#email{
    margin-left: 4px;
}
#custom{
    width: 740px;
}
/* -------------------------
             Footer
-------------------------- */